<h2>Installing kaggle and loading the csv file in a pandas dataframe:</h2>

In [ ]:
!pip install kaggle

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Defaulting to user installation because normal site-packages is not writeable
Collecting kaggle
  Downloading kaggle-1.5.6.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 192 kB/s eta 0:00:01
Collecting urllib3<1.25,>=1.21.1
  Downloading urllib3-1.24.3-py2.py3-none-any.whl (118 kB)
     |████████████████████████████████| 118 kB 493 kB/s eta 0:00:01
Requirement already satisfied: six>=1.10 in /home/foxy/.local/lib/python2.7/site-packages (from kaggle) (1.14.0)
Requirement already satisfied: certifi in /home/foxy/.local/lib/python2.7/site-packages (from kaggle) (2019.11.28)
Requirement already satisfied: python-dateutil in /home/foxy/.local/lib/python2.7/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /home/foxy/.local/lib/python2.7/site-packages (from kaggle) (2.23.0)
Collecting tqdm
  Downloading tqdm-4.48.0-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 332 kB/s eta 0:00:01
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Requirement already satisfied: idna<3,>=2.5 in /usr/lib/python2.7/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/lib/python2.7/dist-packages (from requests->kaggle) (3.0.4)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 1.3 MB/s eta 0:00:01
ERROR: tensorboard 2.1.0 requires wheel; python_version < "3", which is not installed.
Installing collected packages: urllib3, tqdm, text-unidecode, python-slugify, kaggle
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.25.8
    Uninstalling urllib3-1.25.8:
      Successfully uninstalled urllib3-1.25.8
    Running setup.py install for python-slugify ...

<font size=3>Create kaggle as a hidden dir under the current dir, /content</font>

In [ ]:
!mkdir .kaggle

<font size=3>Print all contents (including hidden ones) of /content</font>

In [ ]:
!ls -a /content

<font size=3>In kaggle, go to your account page. Scroll down to API and click on "Create new API token". Download the kaggle.json file and copy the content of the file. <br/>
In colab import json and create a json object called token and paste the copied content and assign it to token. Open /content/.kaggle/kaggle.json in write mode and dump the token in the kaggle.json file.</font>

In [ ]:
import json
token = {"username":"rupamitasarkar","key":"34fac33e3b4f0e4e66dd5d06a59a46eb"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

<font size=3>Move the kaggle dir to /root.</font>

In [ ]:
!mv .kaggle /root/

In [ ]:
!ls -a /content

<font size=3>From kaggle copy the API command to download the dataset and paste it here. -p /content sets the path for the downloaded file under /content dir.</font>

In [ ]:
!kaggle datasets download -d uciml/iris -p /content

<font size=3>Unzip all zipped files under current folder.</font>

In [ ]:
!unzip *.zip

<font size=2>The above section will be necessary if we are using colab</font>

<font size=2>Import pandas and read in the iris.csv file into a pandas dataframe called df.</font>

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('Iris.csv')

<br/>
----------------------------------------------------------------------------------------------------------------------------------------------
<br/>
<h2>Check The Data</h2>

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.isnull().any().any() # check for any null values in the dataset

In [ ]:
df.info() #show datatype of each column

<font size=3>features is the list of column names. These are the input features.</font>

In [7]:
features = list(df.columns)
features.pop(-1) #pop the last column name which is the column of labels
print(features)

['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']

<font size=3>The code in the cell below could be replaced with:<br/>
group_names = df['Species'].unique().tolist()<br/>
group_names</font>

In [8]:
labels = df.loc[:, "Species"] #store all elements of the species column into the list labels
labels = list(set(labels)) #remove duplicates so only the main label names 
print(labels) #print the labels

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

<font size=3>Perform feature scaling: </font>

In [ ]:
df.head()

In [ ]:
#for s in features:
#    df[s] = df[s] / ( df[s].max() - df[s].min() )
#df.head()

<font size=3>shuffle the dataset.</font>

In [9]:
df1 = df #keep a backup
df = df.sample(frac=1) #randomly samples the rows  and returns all rows
df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
115,116,6.4,3.2,5.3,2.3,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
2,3,4.7,3.2,1.3,0.2,Iris-setosa
32,33,5.2,4.1,1.5,0.1,Iris-setosa
148,149,6.2,3.4,5.4,2.3,Iris-virginica

<font size=3>Extract Y (species) in form of one hot  encoding.</font>

In [10]:
species_oneHot = pd.get_dummies(df['Species'])
species_oneHot.head()

     Iris-setosa  Iris-versicolor  Iris-virginica
115            0                0               1
141            0                0               1
2              1                0               0
32             1                0               0
148            0                0               1

<font size=3>Split the one-hot encoded dataframe into train and test output sets.</font>

In [11]:
train_index = int(0.8*df.shape[0]) #index for dividing the data into train and test sets with a 70:30 ratio
Y_train = species_oneHot.iloc[0:(train_index - 1)] #first 80% goes to train labels
Y_test = species_oneHot.iloc[train_index: ] #last 20% goes to test labels

print(Y_train.head())
print(Y_test.head())

     Iris-setosa  Iris-versicolor  Iris-virginica
115            0                0               1
141            0                0               1
2              1                0               0
32             1                0               0
148            0                0               1
     Iris-setosa  Iris-versicolor  Iris-virginica
23             1                0               0
129            0                0               1
57             0                1               0
22             1                0               0
108            0                0               1

In [12]:
df = df.drop('Species', axis =1) #drop the  labels and keep only the inputs
df.head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
115  116            6.4           3.2            5.3           2.3
141  142            6.9           3.1            5.1           2.3
2      3            4.7           3.2            1.3           0.2
32    33            5.2           4.1            1.5           0.1
148  149            6.2           3.4            5.4           2.3

In [13]:
df = df.drop('Id', axis = 1) #also drop the Id column from the dataframe
df.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
115            6.4           3.2            5.3           2.3
141            6.9           3.1            5.1           2.3
2              4.7           3.2            1.3           0.2
32             5.2           4.1            1.5           0.1
148            6.2           3.4            5.4           2.3

<font size=3>Do the 80:20 train and test set split on the input data.</font>

In [14]:
X_train = df.iloc[0:(train_index - 1)] #first 80% of the data goes to training set
X_test = df.iloc[train_index: ] #last 20% of the data goes to test set

print(X_train.head())
print(X_test.head())

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
115            6.4           3.2            5.3           2.3
141            6.9           3.1            5.1           2.3
2              4.7           3.2            1.3           0.2
32             5.2           4.1            1.5           0.1
148            6.2           3.4            5.4           2.3
     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
23             5.1           3.3            1.7           0.5
129            7.2           3.0            5.8           1.6
57             4.9           2.4            3.3           1.0
22             4.6           3.6            1.0           0.2
108            6.7           2.5            5.8           1.8

<font size=3>Store X_train, X_test, Y_train and Y_test in separate csv files.</font>

In [15]:
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
Y_train.to_csv('Y_train.csv', index=False)
Y_test.to_csv('Y_test.csv', index=False)